sudo apt-get update
sudo apt install python3-pip
sudo apt install python3-venv 
python3 -m venv emr-aiflow-env
source emr-airflow-env/bin/activate
pip install apache-airflow[amazon]
pip install awscli
aws configure 
airflow db init